@media (max-width: 1000px) {
	.filter-box-header input {
		width: 50%;
	}

	.filter-box-header input:first-child {
		-webkit-border-top-left-radius: 0;
		-webkit-border-bottom-left-radius: 0;
		-moz-border-radius-topleft: 0;
		-moz-border-radius-bottomleft: 0;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	.filter-box-header .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
		width: 50%;
	}

	.filter-box-header .dropdown-toggle {
		width: 100%;
	}

	.filter-box-header .form-date {
		margin: 0 !important;
	}

	.filter-box-header .form-country, .filter-box-header .form-camp-type {
		margin: 0 0 5px 0;
	}

	.button-search {
		float: none;
		margin: 10px auto 0;
		width: 100%;
		max-width: 300px;
	}

	.filter-box-header form {
		margin: 20px auto 0;
	}

	.filter-box-header {
		height: 195px;
	}

	.main-banner {
		background-position: 70%;
	}

	.banner-text {
		top: 27%;
	}
	.trigger-item{
		padding: 35px 0 40px;
	}
	.new-camps-wrapper {
		margin-top: 25px;
	}


	.wrapper-header {
		background: url("../image/header2.png") no-repeat center;
		height: 270px;
	}
}

@media (max-width: 900px) {
	.for-camps-title{
		display: none;
	}
}

@media (max-width: 830px) {
	.trigger-item {
		padding: 20px 0 50px;
	}

	.new-camps-item-title{
		font-size: 26px;
	}
	.numeric-item{
		width: 145px;
		font-size: 48px;
	}
	.numeric-item-text{
		font-size: 18px;
	}
	.latest-news-item .latest-news-title{
		font-size: 24px;
		line-height: 28px;
	}

    .latest-news-item-box{
	    width: 50%;
    }
	.latest-news-item-wrapper{
		max-width: 300px;
		margin: 15px auto 0;
	}
}

@media (max-width: 760px) {
	.for-camps-box {
		top: 93px;
		right: 21px;
		font-size: 14px;
	}
	.menu-footer {
		float: right;
	}
}

@media (max-width: 698px) {
	.banner-main-text {
		font-size: 49px;
	}

	.banner-secondary-text {
		font-size: 20px;
	}
	h2 {
		font-size: 36px;
	}

}

@media (max-width: 600px) {
	.trigger-advantages .col-xxs{
		width: 100%;
	}
	.item-advantages{
		width: 100%;
		max-width: 390px;
		height: auto;
	}
	.item-advantages-description{
		width: 89%;
		width: calc(100% - 43px);
	}
	.trigger-advantages{
		padding: 50px 0 40px;
	}

	.camps-assignment-item {
		margin: 0 auto 20px;
	}

}

@media (max-width: 510px) {
	.filter-box-header {
		height: 290px;
		bottom: 0;
		position: relative;
	}

	.filter-box-header input {
		width: 100%;
		margin: 0 0 7px !important;
	}

	.filter-box-header .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
		width: 100%;
	}

	.age-select {
		margin: 7px 0 0 !important;
	}

	.banner-secondary-text {
		display: none;
	}

	.bootstrap-select.btn-group .dropdown-toggle .filter-option {
		padding-left: 9px;
	}

	.main-banner {
		position: relative;
		width: 100%;
		height: 240px;
		background: url("../image/mobile-backgroung.png") no-repeat center;
	}

	.filter-box-header form {
		margin: 0 auto;
		padding-top: 12px;
	}

	.banner-text {
		top: 23%;
		padding: 0 10px;
	}

	.banner-main-text {
		font-size: 36px;
	}

	.new-camps-item-wrapper{
		width: 100%;
		float: none;
		margin-bottom: 15px;
	}

	.new-camps-item{
		margin: auto;
		max-width: none;
	}

    .new-camps-text{
	    font-size: 18px;
    }

	.new-camps-item-title{
		font-size: 36px;
	}
    .numeric-item-wrapper{
	    width: 100%;
    }
	.numeric-item {
		width: 100%;
		max-width: 175px;
	}
	.wrapper-header {
		background: url("../image/header3.png") no-repeat center;
		height: 365px;
	}

}


@media (max-width: 490px){
	.container-footer{
		height: 170px;
		background-size: auto 100%;
	}

	.content-block {
		padding-bottom: 170px;
	}

	footer .logo{
		margin-top: 15px;
	}

	.menu-footer{
		width: 100%;
		margin-top: 15px;
	}

	.for-camps-box a {
		margin-left: 20px;
	}

	.for-camps-box {
		left: 0;
		top: 105px;
	}

    .copyright{
	    position: relative;
	    bottom: -20px;
	    padding: 20px 0 0 14px;
	    font-size: 12px;
	    font-weight: 300;
    }
}


	@media (max-width: 450px) {
	.logo {
		max-width: 150px;
		margin-top: 20px;
	}
	.mobile-menu-burger {
		display: block;
	}
	.menu li a:hover {
		border: 2px solid rgba(255, 255, 255, 0.0);
	}
    .menu-header ul{
	    display: none;
	    position: absolute;
	    z-index: 100;
	    top: 0;
	    right: 0;
	    width: 100%;
	    margin: 0;
	    padding: 0;
	    background: rgba(25, 25, 25, 0.7);
	    text-align: center;
    }
	.menu-header {
		float: none;
	}
	.menu-header li {
		width: 100%;
		margin: auto;
		padding: 10px 0 20px;
	}

	.menu-header li:first-child{
		padding: 70px 0 10px;
	}

	.menu-header li a {
		display: inline-block;
		width: 100%;
	}

	.button-watch {
		margin: 25px auto 0;
	}
	.wrapper-header {
		height: 350px;
	}
	.for-camps-box {
		top: 100px;
	}
}

@media (max-width: 420px) {
	.latest-news-item-box{
		width: 100%;
	}
	.camps-assignment-wrapper .col-xxs{
		width: 100%;
	}

}

@media (max-width: 310px) {
	.main-banner {
		background-position: 70%;
	}
	.new-camps-item-title{
		font-size: 26px;
	}

	.numeric-item {
		font-size: 36px;
		line-height: 60px;
		max-width: 145px;
	}
	.item-advantages-title{
		font-size: 24px;
	}

    .add-camp-link{
	    width: 100%;
    }

	.container-footer{
		height: 190px;
	}
	.content-block {
		padding-bottom: 190px;
	}
	.copyright{
		bottom: -45px;
		padding: 20px 0 0 10px;
	}
}


@media (max-width: 250px) {
	.container-footer{
		height: 205px;
	}
	.content-block {
		padding-bottom: 205px;
	}
	.copyright {
		bottom: -35px;
	}
	.for-camps-box {
		top: 115px;
	}
}