@media (max-width: 1000px) {
	.filter-box-header input {
		width: 50%;
	}

	.filter-box-header input:first-child {
		-webkit-border-top-left-radius: 0;
		-webkit-border-bottom-left-radius: 0;
		-moz-border-radius-topleft: 0;
		-moz-border-radius-bottomleft: 0;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	.filter-box-header .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
		width: 50%;
	}

	.filter-box-header .dropdown-toggle {
		width: 100%;
	}

	.filter-box-header .form-date {
		margin: 0 !important;
	}

	.filter-box-header .form-country, .filter-box-header .form-camp-type {
		margin: 0 0 5px 0;
	}

	.button-search {
		float: none;
		margin: 10px auto 0;
		width: 100%;
		max-width: 300px;
	}

	.filter-box-header form {
		margin: 20px auto 0;
	}

	.filter-box-header {
		height: 195px;
	}

	.main-banner {
		background-position: 70%;
	}

	.banner-text {
		top: 27%;
	}

	.trigger-item {
		padding: 35px 0 40px;
	}

	.new-camps-wrapper {
		margin-top: 25px;
	}

	.wrapper-header {
		height: 270px;
		background-size: auto 100%;
	}
	.wrapper-page-item-news h1 {
		font-size: 26px;
	}

}


@media (max-width: 970px) {
	.date-link-wrapper {
		width: 100%;
	}

	.read-more-wrapper {
		width: 100%;
		float: left;
		margin-top: 5px;
	}

	.button-read-more {
		float: right;
	}
}

@media (max-width: 940px) {
	.for-camps-title {
		display: none;
	}
}
@media (max-width: 920px) {
	.wrapper-partnership-header h1, .wrapper-news-header h1 {
		font-size: 49px;
	}
	.about-box-wrapper h2, .statistics-box-wrapper h2 {
		font-size: 34px;
	}
	.about-box-wrapper, .statistics-box-wrapper {
		padding: 25px 0 50px;
	}
	.camp-types-text {
		width: 50%;
		max-width: 395px;
		margin-top: 83px;
		font-size: 38px;
	}
	.camp-types-image{
		width: 50%;
	}
	.wrapper-button-join-camp .button-watch{
		margin: 70px auto;
	}

	.wrapper-item-news{
		width: 50%;
	}
	.wrapper-item-news:nth-child(3n+2) .box-news{
		margin: 0 0 20px;
	}

	.wrapper-item-news:nth-child(3n) .box-news{
		float: left;
	}
	.wrapper-item-news:nth-child(2n) .box-news{
		float: right;
	}
	.box-news{
		width: 98%;
	}

	.item-news-page .wrapper-item-news:nth-child(3n){
		display: none;
	}

	.wrapper-name-other-news {
		position: static;
		display: block;
		-moz-transform: none;;
		-webkit-transform: none;
		-o-transform: none;
		-ms-transform: none;
		transform: none;
		padding: 0;
		text-align: left;
		color: #404041;
	}
}

@media (max-width: 910px) {
	.box-left-image-about, .box-left-text-about{
		width: 45%;
	}

	.box-right-image-about, .box-right-text-about{
		float: right;
	}
}


@media (max-width: 860px) {
	.wrapper-about-header h1{
		margin: 50px auto 40px;
		font-size: 48px;
	}

	.box-text-header-about p{
		margin: 35px auto 30px;
		font-size: 20px;
	}

	.wrapper-text-about-header {
		padding-bottom: 60px;
	}
}

@media (max-width: 830px) {
	.trigger-item {
		padding: 20px 0 50px;
	}

	.new-camps-item-title {
		font-size: 26px;
	}

	.numeric-item {
		width: 145px;
		font-size: 48px;
	}

	.numeric-item-text {
		font-size: 18px;
	}

	.latest-news-item .latest-news-title {
		font-size: 24px;
		line-height: 28px;
	}

	.latest-news-item-box {
		width: 50%;
	}

	.latest-news-item-wrapper {
		max-width: 300px;
		margin: 15px auto 0;
	}
}

@media (max-width: 810px) {
	.for-camps-box {
		top: 93px;
		right: 21px;
		font-size: 14px;
	}

	.menu-footer {
		float: right;
	}

}

@media (max-width: 780px) {
	.theme-camp-title {
		display: none;
	}
	.theme-camp-wrapper p {
		padding-right: 10px;
	}
	.item-result-search-title {
		max-width: 100%;
	}
	.item-result-search-rating {
		float: left;
		margin-bottom: 10px;
	}
	.card-product-camp-link {
		width: 100%;
		float: none;
		margin-top: -10px;
	}

	.camp-types-image img {
		padding-left: 20px;
	}
	.camp-types-text{
		margin-top: 70px;
	}

	.wrapper-page-item-news h1 {
		width: 100%;
	}

	.content-news {
		width: 100%;
	}

	.wrapper-social-network {
		width: 100%;
		margin: 30px 0;
	}

	/*.box-social-network {*/
		/*float: none;*/
	/*}*/

    /*.box-shares-number{*/
	    /*float: right;*/
    /*}*/
}



@media (max-width: 698px) {
	.banner-main-text {
		font-size: 49px;
	}

	.banner-secondary-text {
		font-size: 20px;
	}

	h2 {
		font-size: 36px;
	}

	.pagination>li>a, .pagination>li>span {
		width: 30px;
		height: 30px;
		padding: 4px 0;
		font-size: 16px;
		margin: 0 5px;
	}

	.pagination>li:first-child>a, .pagination>li:first-child>span,
	.pagination>li:last-child>a, .pagination>li:last-child>span {
		line-height: 27px;
	}

	.wrapper-partnership-header {
		background: url("../image/partnership-bg.png") no-repeat 50% 20%;
		height: 460px;
	}

	.about-box-icon{
		float: left;
		width: 33.33%;
	}

}

@media (max-width: 670px) {
	.box-left-image-about, .box-text-header-about p{
		display: none;
	}

	.box-image-about, .box-text-header-about{
		width: 100%;
		text-align: center;
	}

	.wrapper-text-about-header {
		padding: 50px 0 40px;
	}

	.button-header-about {
		margin: 0 auto 15px;
	}

	.wrapper-about-header h1 {
		margin: 40px auto 30px;
		font-size: 40px;
	}

}

@media (max-width: 655px) {
	.camp-types-text{
		margin-top: 60px;
	}
}

@media (max-width: 630px) {
	.video-container {
		float: none;
		width: 99%;
		margin: auto;
	}

	.content-news .video-container{
		max-width: 100%;
		margin: 10px 0 0;
	}

	.picture-container{
		margin-top: 20px;
		float: none;
		width: 100%;
	}

	.wrapper-pictute-card-product {
		 text-align: center;
	}
	.pictute-item-card-product {
		width: 33.33%;
		width: calc(100% / 3);
		margin: 0;
		display: block;
		float: left;
	}

	.pictute-item-card-product img{
		width: 97%;
	}

	.camp-types-text{
		margin-top: 50px;
	}
}

@media (max-width: 600px) {
	.trigger-advantages .col-xxs {
		width: 100%;
	}

	.item-advantages {
		width: 100%;
		max-width: 390px;
		height: auto;
	}

	.item-advantages-description {
		width: 89%;
		width: calc(100% - 43px);
	}

	.trigger-advantages {
		padding: 50px 0 40px;
	}

	.camps-assignment-item {
		margin: 0 auto 20px;
	}

	.camp-types-wrapper{
		text-align: center;
		padding: 40px 0;
	}

	.camp-types-image{
		width: 100%;
		float: none;
	}

	.camp-types-image img{
		width: 100%;
		float: none;
		padding: 0;
		max-width: 240px;
	}

	.camp-types-text{
		width: 100%;
		padding: 15px 0 0;
		margin: 0;
		float: none;
		max-width: 100%;
	}

	.wrapper-item-news{
		width: 100%;
		height: auto !important;
	}

	.wrapper-item-news:nth-child(3n) .box-news{
		float: left;
	}
	.wrapper-item-news:nth-child(2n) .box-news{
		float: left;
	}
	.box-news{
		width: 100%;
		margin-bottom: 30px;
	}

	.wrapper-item-news:nth-child(3n+2) .box-news{
		margin: 0 auto 30px;
	}

}


@media (max-width: 570px) {
	.logo {
		max-width: 150px;
		margin-top: 20px;
	}

	.mobile-menu-burger {
		display: block;
	}

	.menu li a:hover {
		border: 2px solid rgba(255, 255, 255, 0.0);
	}

	.menu-header ul {
		display: none;
		position: absolute;
		z-index: 100;
		top: 0;
		right: 0;
		width: 100%;
		margin: 0;
		padding: 0;
		background: rgba(25, 25, 25, 0.8);
		text-align: center;
	}

	.menu-header {
		float: none;
	}

	.menu-header li {
		width: 100%;
		margin: auto;
		padding: 5px 0;
	}

	.menu-header li:first-child {
		padding: 70px 0 5px;
	}

	.menu-header li:last-child {
		padding: 5px 0 20px;
	}

	.menu-header li a {
		display: inline-block;
		width: 100%;
	}

	.button-watch {
		margin: 25px auto 0;
	}

	.for-camps-box {
		top: 85px;
	}

	.menu-footer {
		margin-top: 32px;
	}

	.item-result-image{
		width: 100%;
		float: none;
	}

	.item-result-image img{
		width: 100%;
	}

	.content-item-result-description {
		margin: 20px 0 10px;
	}
	.wrapper-button-join-camp .button-watch{
		margin: 50px auto;
	}

	.wrapper-item-news-header {
		background: url("../image/news-bg.png") no-repeat center 31.5%;
		height: 80px;
	}
}



@media (max-width: 510px) {
	.filter-box-header {
		height: 290px;
		bottom: 0;
		position: relative;
	}

	.filter-box-header input {
		width: 100%;
		margin: 0 0 7px !important;
	}

	.filter-box-header .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
		width: 100%;
	}

	.age-select {
		margin: 7px 0 0 !important;
	}

	.banner-secondary-text {
		display: none;
	}

	.bootstrap-select.btn-group .dropdown-toggle .filter-option {
		padding-left: 9px;
	}

	.main-banner {
		position: relative;
		width: 100%;
		height: 240px;
		background: url("../image/mobile-backgroung.png") no-repeat center;
	}

	.filter-box-header form {
		margin: 0 auto;
		padding-top: 25px;
	}

	.banner-text {
		top: 23%;
		padding: 0 10px;
	}

	.banner-main-text, .wrapper-partnership-header h1, .wrapper-news-header h1 {
		font-size: 36px;
	}

	.about-box-wrapper h2, .statistics-box-wrapper h2 {
		font-size: 28px;
	}

	.about-item-icon-text{
		font-size: 14px;
	}

	.about-box-text {
		font-size: 16px;
	}

	.about-box-wrapper, .statistics-box-wrapper {
		padding: 15px 0 35px;
	}

	.camp-types-text {
		font-size: 30px;
	}

	.new-camps-item-wrapper {
		width: 100%;
		float: none;
		margin-bottom: 15px;
	}

	.new-camps-item {
		margin: auto;
		max-width: none;
	}

	.new-camps-text {
		font-size: 18px;
	}

	.new-camps-item-title {
		font-size: 36px;
	}

	.numeric-item-wrapper {
		width: 100%;
	}

	.numeric-item {
		width: 100%;
		max-width: 175px;
	}

	.wrapper-header {
		height: 365px;
	}

	.item-result-search-title h2 {
		font-size: 20px;
	}
	.item-result-search-place {
		font-size: 18px;
	}
	.link-view-map a{
		font-size: 18px;
	}
	.name-country-camps-statistics{
		font-size: 22px;
		padding-left: 15px;
	}
	.number-camps-statistics{
		font-size: 22px;
	}

	.wrapper-page-item-news h1 {
		font-size: 22px;
	}

}

@media (max-width: 490px) {
	.container-footer {
		height: 170px;
		background-size: auto 100%;
	}

	.content-block {
		padding-bottom: 170px;
	}

	footer .logo {
		margin-top: 15px;
	}

	.menu-footer {
		width: 100%;
		margin-top: 15px;
	}

	.for-camps-box a {
		margin-left: 20px;
	}

	.for-camps-box {
		left: 4px;
		top: 102px;
	}

	.copyright {
		position: relative;
		bottom: -20px;
		padding: 20px 0 0 14px;
		font-size: 12px;
		font-weight: 300;
	}
}


@media (max-width: 420px) {
	.latest-news-item-box {
		width: 100%;
	}

	.camps-assignment-wrapper .col-xxs {
		width: 100%;
	}
	.wrapper-quote{
		font-size: 14px;
	}
}

@media (max-width: 380px) {
	.number-camps-statistics {
		width: 100% !important;
		background: none;
		color: #ffffff;
	}

	.wrapper-number-camps-statistics{
		width: 90px;
	}
	.item-camps-statistics {
		width: 80%;
	}
	.wrapper-camps-statistics {
		margin-top: 35px;
	}
	.box-news{
		margin-bottom: 20px;
	}

	.wrapper-item-news:nth-child(3n+2) .box-news{
		margin: 0 auto 20px;
	}
}

@media (max-width: 340px) {
	.button-read-more {
		width: 100%;
		float: none;
		height: 35px;
		margin-top: 15px;
	}
	.button-read-more a {
		line-height: 35px;
	}
	.read-more-wrapper {
		margin-top: 0;
	}
	.item-result-search {
		padding-bottom: 20px;
	}
	.breadcrumb {
		margin: 10px 0 10px;
	}
	.about-box-icon{
		width: 50%;
	}
	.name-country-camps-statistics{
		font-size: 20px;
		padding-left: 10px;
	}
	.number-camps-statistics{
		font-size: 20px;
	}
	.wrapper-button-join-camp .button-watch{
		margin: 40px auto;
	}
    .mobile-hidden{
	    display: none;
    }

	.wrapper-about-header h1 {
		font-size: 34px;
	}
}

@media (max-width: 315px) {
	.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus,
	.pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
		border: none;
	}
	.pagination>li>a, .pagination>li>span {
		margin: 0;
	}
	.item-camps-statistics {
		width: 100%;
	}
}

@media (max-width: 310px) {
	.main-banner {
		background-position: 70%;
	}

	.new-camps-item-title {
		font-size: 26px;
	}

	.numeric-item {
		font-size: 36px;
		line-height: 60px;
		max-width: 145px;
	}

	.item-advantages-title {
		font-size: 24px;
	}

	.for-camps-box a {
		width: 100%;
		display: block;
	}

	.container-footer {
		height: 190px;
	}

	.content-block {
		padding-bottom: 190px;
	}

	.copyright {
		bottom: -45px;
		padding: 20px 0 0 10px;
	}
}


@media (max-width: 275px) {
	.container-footer {
		height: 220px;
	}

	.content-block {
		padding-bottom: 220px;
	}

	.for-camps-box {
		top: 125px;
		left: 0;
	}
	.menu-footer li a{
		padding: 8px;
	}

	.menu-footer li:last-child{
		width: 100%;
		margin-top: 7px;
	}

	.copyright {
		bottom: -45px;
	}

	.camp-types-text {
		font-size: 26px;
	}
}

@media (max-width: 250px) {

    .title-rating {
	    display: none !important;
    }

    .quantity-rating-wrapper {
	    padding-left: 10px;
    }
	.pagination>li:first-child>a, .pagination>li:first-child>span, .pagination>li:last-child>a, .pagination>li:last-child>span {
		width: 28px;
	}

	.pagination {
		margin: 20px 0 20px -10px;
	}

	.picture-container {
		margin-top: 8px;
	}

}