html {
	height: 100%;
	background: #fff;
	color: #000;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	height: 100%;
	margin: 0;
	font-family: Roboto, sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #404041;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto/robotolight.eot");
	src: local('Roboto Light'),
	url("../fonts/Roboto/robotolight.eot?") format("embedded-opentype"),
	url("../fonts/Roboto/robotolight.woff") format("woff"),
	url("../fonts/Roboto/robotolight.woff2") format("woff2"),
	url("../fonts/Roboto/robotolight.ttf") format("truetype"),
	url("../fonts/Roboto/robotolight.svg") format("svg");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto/robotomedium.eot");
	src: local('Roboto Medium'),
	url("../fonts/Roboto/robotomedium.eot?") format("embedded-opentype"),
	url("../fonts/Roboto/robotomedium.woff") format("woff"),
	url("../fonts/Roboto/robotomedium.woff2") format("woff2"),
	url("../fonts/Roboto/robotomedium.ttf") format("truetype"),
	url("../fonts/Roboto/robotomedium.svg") format("svg");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto/robotobold.eot");
	src: local('Roboto Bold'),
	url("../fonts/Roboto/robotobold.eot?") format("embedded-opentype"),
	url("../fonts/Roboto/robotobold.woff") format("woff"),
	url("../fonts/Roboto/robotobold.woff2") format("woff2"),
	url("../fonts/Roboto/robotobold.ttf") format("truetype"),
	url("../fonts/Roboto/robotobold.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}


/*@font-face {*/
/*font-family: 'Glyphicons Halflings';*/
/*src: url('../bootstrap/fonts/glyphicons-halflings-regular.eot');*/
/*src: url('../bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),*/
/*url('../bootstrap/fonts/glyphicons-halflings-regular.woff2') format('woff2'),*/
/*url('../bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),*/
/*url('../bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),*/
/*url('../bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');*/
/*}*/

@font-face {
font-family: 'FontAwesome';
src: url('../bootstrap/fonts/fontawesome-webfont.eot');
src: url('../bootstrap/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
url('../bootstrap/fonts/fontawesome-webfont.woff2') format('woff2'),
url('../bootstrap/fonts/fontawesome-webfont.woff') format('woff'),
url('../bootstrap/fonts/fontawesome-webfont.ttf') format('truetype'),
url('../bootstrap/fonts/fontawesome-webfont.svg') format('svg');
}

a img {
	border: none;
	outline: none !important;
}

a {
	outline: none !important; /* убирает обводку у кнопок и ссылок */
}

a:hover, a:active {
	outline: 0;
}

.image_hover {
	position: absolute;
}

.image_upper {
	position: relative;
}

.image_upper:hover {
	opacity: 0;
}

/* для iphone - убирает автоматическое откругление уголов */
/*input[type="text"],input[type="password"], textarea{*/
/*border-radius: 0 !important;*/
/*-webkit-border-radius: 0 !important;*/
/*-o-border-radius: 0 !important;*/
/*-moz-border-radius: 0 !important;*/
/*-khtml-border-radius: 0 !important;*/
/*-webkit-appearance: none;*/
/*line-height: inherit;*/
/*}*/

input::-webkit-input-placeholder {
	color: #404041;
	text-align: center;
}

input::-moz-placeholder {
	color: #000000;
	text-align: center;
	font-family: sans-serif;
}

/* Firefox 19+ */
input:-moz-placeholder {
	color: #000000;
	text-align: center;
	font-family: sans-serif;
}

/* Firefox 18- */
input:-ms-input-placeholder {
	color: #000000;
	text-align: center;
	font-family: sans-serif;
}

.placeholder {
	color: #404041;
}

input[type="radio"] {
	-webkit-appearance: radio;
}

.wrapper {
	min-height: 100%;
	position: relative;
}

.container-block {
	width: 100%;
	max-width: 960px;
	margin: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.content-block {
	width: 100%;
	max-width: 1920px;
	margin: auto;
	padding-bottom: 140px;
}

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}

.container-footer {
	background: url("../image/footer-background.png") no-repeat center;
	height: 140px;
	width: 100%;
	max-width: 1920px;
	margin: auto;
}

.main-banner {
	position: relative;
	width: 100%;
	height: 561px;
	background: url("../image/main-background.png") no-repeat center;
}

.menu li {
	list-style: none;
	display: inline-block;
}

.menu li a {
	padding: 8px 10px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
	line-height: 12px;
	border: 2px solid rgba(255, 255, 255, 0);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.menu li a:hover {
	border: 2px solid rgba(255, 255, 255, 0.6);
	text-decoration: none;
}

.logo {
	width: 177px;
	float: left;
	margin-top: 25px;
}

.menu-header {
	float: right;
}

.menu-header li {
	margin: 36px 10px 0;
}

.filter-box-header {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background: rgba(0, 31, 32, 0.7);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.filter-box-header input {
	outline: none;
	padding: 10px;
	height: 47px;
	width: 225px;
	text-align: center;
	font-family: Roboto, sans-serif;;
	font-weight: 300;
	color: #404041;
	border: 1px solid #d1d1d1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.filter-box-header input:first-child {
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.filter-box-header input:not(:first-child) {
	margin-left: -6px;
}


.age-select {
	margin-top: -2px;
	margin-left: -6px !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.filter-box-header .dropdown-toggle {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	height: 47px;
	width: 117px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/*margin-top: -1px;*/
}

.filter-box-header .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
	width: 117px;
}

.filter-box-header .filter-option {
	color: #404041;
	font-family: Roboto, sans-serif;;
	font-weight: 300;
	font-size: 16px;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
	text-align: center;
}

.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
	color: #404041;
	background-color: #ffffff;
	border: 1px solid #d1d1d1;
}

.filter-box-header .btn-default:hover {
	color: #404041;
	background-color: #ffffff;
	border: 1px solid #d1d1d1;
}

.filter-box-header .btn-default {
	border: 1px solid #d1d1d1;
}

.filter-box-header .btn-group.open .dropdown-toggle {
	 -webkit-box-shadow: none;
	 box-shadow: none;
}

.filter-box-header .bootstrap-select .dropdown-toggle:focus {
	outline: none !important;
}

.btn:active, .btn.active{
	box-shadow: none;
}

.filter-box-header .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
	color: #404041;
	background-color: #ffffff;
	border: 1px solid #d1d1d1;
}

.btn-default:focus, .btn-default.focus{
	background: #ffffff;
}

.filter-box-header .dropdown-menu {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	color: #404041;
	font-family: Roboto, sans-serif;
	font-weight: 300;
	font-size: 16px;
	text-align: center;
	-webkit-box-shadow: none;
	box-shadow: none;
}


.filter-box-header .dropdown-menu>li>a{
	color: #404041;
	font-family: Roboto, sans-serif;
	font-weight: 300;
}

.button-search{
	z-index: 10;
	position: relative;
	width: 170px;
	height: 47px;
	margin-top: -3px;
	margin-left: -6px;
	background: #5cb000;
	color: #ffffff;
	/*border-top: 2px solid #647e50;*/
	/*border-bottom: 2px solid #647e50;*/
	/*border-right: 2px solid #647e50;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.button-search:hover{
	background: #5ca600;
	color: #ffffff;
}

.fa-caret-down{
	color: #404041;
	margin-top: 4px;
}
