html {
	height: 100%;
	background: #fff;
	color: #000;
	overflow-x: hidden;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	height: 100%;
	margin: 0;
	font-family: Roboto, sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #404041;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto/robotolight.eot");
	src: local('Roboto Light'),
	url("../fonts/Roboto/robotolight.eot?") format("embedded-opentype"),
	url("../fonts/Roboto/robotolight.woff") format("woff"),
	url("../fonts/Roboto/robotolight.woff2") format("woff2"),
	url("../fonts/Roboto/robotolight.ttf") format("truetype"),
	url("../fonts/Roboto/robotolight.svg") format("svg");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto/robotomedium.eot");
	src: local('Roboto Medium'),
	url("../fonts/Roboto/robotomedium.eot?") format("embedded-opentype"),
	url("../fonts/Roboto/robotomedium.woff") format("woff"),
	url("../fonts/Roboto/robotomedium.woff2") format("woff2"),
	url("../fonts/Roboto/robotomedium.ttf") format("truetype"),
	url("../fonts/Roboto/robotomedium.svg") format("svg");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto/robotobold.eot");
	src: local('Roboto Bold'),
	url("../fonts/Roboto/robotobold.eot?") format("embedded-opentype"),
	url("../fonts/Roboto/robotobold.woff") format("woff"),
	url("../fonts/Roboto/robotobold.woff2") format("woff2"),
	url("../fonts/Roboto/robotobold.ttf") format("truetype"),
	url("../fonts/Roboto/robotobold.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('../bootstrap/fonts/glyphicons-halflings-regular.eot');
	src: url('../bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
	url('../bootstrap/fonts/glyphicons-halflings-regular.woff2') format('woff2'),
	url('../bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),
	url('../bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
	url('../bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
	font-family: 'FontAwesome';
	src: url('../bootstrap/fonts/fontawesome-webfont.eot');
	src: url('../bootstrap/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
	url('../bootstrap/fonts/fontawesome-webfont.woff2') format('woff2'),
	url('../bootstrap/fonts/fontawesome-webfont.woff') format('woff'),
	url('../bootstrap/fonts/fontawesome-webfont.ttf') format('truetype'),
	url('../bootstrap/fonts/fontawesome-webfont.svg') format('svg');
}

/* для iphone - убирает автоматическое откругление уголов */

input[type="text"], input[type="password"], textarea {
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	-o-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-khtml-border-radius: 0 !important;
	-webkit-appearance: none;
	line-height: inherit;
}

a img {
	border: none;
	outline: none !important;
}

a {
	outline: none !important; /* убирает обводку у кнопок и ссылок */
}

a:hover, a:active {
	outline: 0;
}

.image_hover {
	position: absolute;
}

.image_upper {
	position: relative;
}

.image_upper:hover {
	opacity: 0;
}

input[placeholder] {
	text-overflow: ellipsis;
}

input::-webkit-input-placeholder {
	color: #404041;
	text-align: center;
	font-size: 16px;
	text-overflow: ellipsis;
}

input::-moz-placeholder {
	color: #404041;
	text-align: center;
	opacity: 1 !important;
	font-size: 16px;
	text-overflow: ellipsis;
}

/* Firefox 19+ */
input:-moz-placeholder {
	color: #404041;
	text-align: center;
	opacity: 1 !important;
	font-size: 16px;
	text-overflow: ellipsis;
}

/* Firefox 18- */
input:-ms-input-placeholder {
	color: #404041;
	text-align: center;
	opacity: 1 !important;
	font-size: 16px;
	text-overflow: ellipsis;
}

.placeholder {
	color: #404041;
}

input[type="radio"] {
	-webkit-appearance: radio;
}

.index-page h2 {
	text-align: center;
	margin-bottom: 15px;
	font-size: 48px;
	font-weight: 300;
}

.wrapper {
	min-height: 100%;
	position: relative;
}

.container-block {
	position: relative;
	width: 100%;
	max-width: 980px;
	padding: 0 10px;
	margin: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.content-block {
	position: relative;
	width: 100%;
	max-width: 1920px;
	margin: auto;
	padding-bottom: 138px;
}

.wrapper-banner {
	position: relative;
}

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}

.container-footer {
	background: url("../image/footer-background.png") no-repeat center;
	height: 138px;
	width: 100%;
	max-width: 1940px;
	margin: auto;
}

.menu-footer {
	float: left;
	margin-top: 42px;
}

.menu-footer ul {
	padding: 0;
}

footer .logo {
	margin-right: 6%;
}

.for-camps-box {
	position: absolute;
	top: 42px;
	right: 10px;
	color: #ffffff;
}

.for-camps-title {
	display: inline-block;
}

.for-camps-box a p {
	display: inline-block;
	font-weight: 500;
	color: #ffffff;
	text-decoration: none;
}

.for-camps-box a {
	margin-left: 25px;
	text-decoration: none;
}

.for-camps-box a:hover p {
	color: #fff100;
}

.for-camps-box a span {
	display: inline-block;
	width: 22px;
	height: 15px;
	color: white;
}

.for-camps-box a:hover span {
	color: #fff100;
}

.copyright {
	width: 100%;
	padding: 20px 0 0 18px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
}

.main-banner {
	position: relative;
	width: 100%;
	height: 561px;
	background: url("../image/main-background.png") no-repeat center;
}

.menu li {
	list-style: none;
	display: inline-block;
}

.menu li a {
	padding: 8px 10px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
	line-height: 12px;
	border: 2px solid rgba(255, 255, 255, 0);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.menu li a:hover {
	border: 2px solid rgba(255, 255, 255, 0.6);
	text-decoration: none;
}

.logo {
	width: 100%;
	max-width: 177px;
	float: left;
	margin-top: 25px;
}

.logo img {
	width: 100%;
}

.menu-header {
	float: right;
}

.menu-header li {
	margin: 39px 10px 0;
}

.mobile-menu-burger {
	display: none;
	position: absolute;
	z-index: 110;
	right: 5%;
	margin-top: 28px;
	cursor: pointer;
}

.fa-bars {
	font-size: 24px;
	color: #ffffff;
}

.filter-box-header {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background: rgba(0, 31, 32, 0.7);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.banner-text {
	position: relative;
	top: 32%;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	color: white;
	text-align: center;
}

.banner-main-text {
	font-size: 64px;
	font-weight: 500;
	text-transform: uppercase;
}

.banner-secondary-text {
	font-size: 26px;
	font-weight: 500;
}

.filter-box-header form {
	width: 100%;
	margin: 27px auto 0;
	text-align: center;
}

.filter-box-header input {
	float: left;
	outline: none;
	padding: 10px;
	height: 47px;
	width: 227px;
	text-align: center;
	font-family: Roboto, sans-serif;;
	font-weight: 300;
	color: #404041;
	border: 1px solid #d1d1d1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.filter-box-header input:first-child {
	-webkit-border-top-left-radius: 3px !important;;
	-webkit-border-bottom-left-radius: 3px !important;;
	-moz-border-radius-topleft: 3px !important;;
	-moz-border-radius-bottomleft: 3px !important;;
	border-top-left-radius: 3px !important;;
	border-bottom-left-radius: 3px !important;;
}

.filter-box-header input:not(:first-child) {
	margin-left: -2px;
}

.age-select {
	float: left !important;
	display: block;
	height: 47px;
	margin-left: -2px !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.filter-box-header .dropdown-toggle {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	height: 100%;
	width: 117px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.filter-box-header .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
	width: 117px;
}

.filter-box-header .filter-option {
	color: #404041;
	font-family: Roboto, sans-serif;;
	font-weight: 300;
	font-size: 16px;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
	text-align: center;
}

.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
	color: #404041;
	background-color: #ffffff;
	border: 1px solid #d1d1d1;
}

.filter-box-header .btn-default:hover {
	color: #404041;
	background-color: #ffffff;
	border: 1px solid #d1d1d1;
}

.filter-box-header .btn-default {
	border: 1px solid #d1d1d1;
}

.filter-box-header .btn-group.open .dropdown-toggle {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.filter-box-header .bootstrap-select .dropdown-toggle:focus {
	outline: none !important;
}

.btn:active, .btn.active {
	box-shadow: none;
}

.filter-box-header .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
	color: #404041;
	background-color: #ffffff;
	border: 1px solid #d1d1d1;
}

.btn-default:focus, .btn-default.focus {
	background: #ffffff;
}

.filter-box-header .dropdown-menu {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	color: #404041;
	font-family: Roboto, sans-serif;
	font-weight: 300;
	font-size: 16px;
	text-align: center;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.filter-box-header .dropdown-menu > li > a {
	color: #404041;
	font-family: Roboto, sans-serif;
	font-weight: 300;
}

.button-search {
	position: relative;
	z-index: 10;
	float: left;
	width: 170px;
	height: 47px;
	outline: none;
	margin-left: -2px;
	background: #5cb000;
	color: #ffffff;
	font-size: 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	vertical-align: top;
}

.button-search:hover {
	background: #5ca600;
	color: #ffffff;
}

.button-search:active {
	background: #64bf00;
}

.glyphicon {
	top: 4px;
	right: 4px;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
}

.btn.button-search:hover, .btn.button-search:focus, .btn.button-search.focus {
	color: #ffffff;
}

.btn-group > .btn, .btn-group-vertical > .btn {
	position: static;
}

/*second trigger*/

.trigger-item {
	padding: 45px 0 55px;
}

.new-camps-wrapper {
	margin-top: 33px;
}

.new-camps-item-wrapper {
	float: left;
	width: 33.33%;
	width: calc(100% / 3);
	padding: 0 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.inner-trigger-text {
	font-size: 20px;
	text-align: center;
}

.new-camps-item {
	position: relative;
	width: 100%;
	max-width: 310px;
	background: #231F20;
}

.new-camps-item img {
	width: 100%;
	opacity: 0.7;
}

.new-camps-item:hover img {
	opacity: 0.3;
}

a:hover, a:focus {
	text-decoration: none;
}

.new-camps-item-title {
	position: absolute;
	top: 50%;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
	padding: 0 5px;
	text-align: center;
	font-weight: 500;
	font-size: 36px;
	color: #ffffff;
}

.button-watch {
	max-width: 308px;
	width: 100%;
	border: 1px solid #a3a3a3;
	text-align: center;
	margin: 45px auto 0;
	background: #ffffff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
}

.button-watch:hover {
	background: #a3a3a3;
}

.button-watch:hover a {
	color: #ffffff;
}

.button-watch a {
	text-decoration: none;
	color: #404041;
	font-size: 20px;
}

.button-watch div {
	padding: 10px 0;
}

/*numeric-box*/

.numeric-box {
	background: #7f3f97;
	width: 100%;
	min-height: 160px;
}

.numeric-item-wrapper {
	float: left;
	width: 33.33%;
	width: calc(100% / 3);
	padding: 23px 5px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.numeric-item {
	margin: auto;
	width: 185px;
	line-height: 80px;
	font-weight: 500;
	font-size: 64px;
	color: #ffffff;
	text-align: center;
	border: 1px solid #ffffff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.numeric-item-text {
	margin-top: 10px;
	padding: 0 0 10px;
	text-align: center;
	font-weight: 500;
	color: #ffffff;
	font-size: 20px;
	line-height: 20px;
}

/*latest new*/

.latest-news-item-wrapper {
	position: relative;
	width: 100%;
	max-width: 230px;
	margin: 30px auto 0;
	background: #231F20;
}

.latest-news-item-wrapper {
	width: 100%;
}

.latest-news-item-wrapper img {
	width: 100%;
}

.latest-news-item .shadow-box-title {
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 50%;
	background: rgba(35, 31, 32, 0.4);
}

.latest-news-item .latest-news-title {
	color: white;
	font-weight: 500;
	font-size: 28px;
	padding: 10px 10px 0;
	line-height: 34px;
}

.latest-news-hashtag {
	position: absolute;
	bottom: 10px;
	right: 15px;
	margin: 0;
	font-weight: 500;
	color: #ffffff;
	font-size: 16px;
}

.latest-news-item-wrapper:hover img {
	opacity: 0.3;
}

.latest-news-item-wrapper:hover .shadow-box-title {
	background: rgba(35, 31, 32, 0);
}

.latest-news-item-box {
	width: 25%;
	float: left;
	padding: 0 5px;
}

/*trigger advantages*/

.trigger-advantages {
	width: 100%;
	padding: 90px 0 80px;
	background: #f1f1ed;
}

.item-advantages {
	width: 275px;
	height: 170px;
	margin: auto;
}

.item-advantages-title {
	font-weight: 500;
	font-size: 28px;
}

.item-advantages-description {
	margin-left: 46px;
	font-weight: 300;
	font-size: 16px;
	width: 220px;
}

.item-advantages-title div {
	display: inline-block;
	width: 38px;
}

/*camps assignment*/

.camps-assignment-wrapper {
	margin-top: 50px;
}

.camps-assignment-item {
	margin: 0 auto 30px;
	padding: 0 5px;
}

.camps-assignment-shadow {
	background: #ffffff;
}

.camps-assignment-item img {
	width: 100%;
}

.camps-assignment-item:hover img {
	opacity: 0.8;
}

.camps-assignment-item:hover .camps-assignment-title span {
	border-bottom: 1px solid rgba(64, 64, 65, 0.8);
}

.camps-assignment-item a {
	text-decoration: none;
}

.camps-assignment-title {
	margin: 10px auto 0;
	font-size: 20px;
	color: #404041;
	text-align: center;
}

/*search result page*/

.wrapper-result-search {
	margin: 40px auto 20px;
}

.wrapper-header {
	position: relative;
	background: url("../image/header-background.png") no-repeat center;
	height: 160px;
}

.result-search-page .filter-box-header, .card-product-page .filter-box-header {
	background: none;
}

.item-result-search {
	margin: 30px auto 0;
	padding-bottom: 35px;
	border-bottom: 1px solid rgba(163, 163, 163, 0.5);
}

.item-result-search-title {
	float: left;
	max-width: 70%;
	max-width: calc(100% - 255px);
}

.item-result-search-title h2 {
	margin: 0;
	font-weight: 500;
	font-size: 24px;
	line-height: 1.2;
}

.item-result-search-title h2 a {
	text-decoration: none;
	color: #404041;
}

.item-result-search-place {
	font-size: 20px;
	margin-top: 5px;
}

.item-result-search-rating {
	float: right;
}

.star-rating {
	display: inline-block;
	width: 15px;
	height: 15px;
}

.star-rating-pink {
	background: url("../image/pink-star.png") no-repeat;
}

.star-rating-white {
	background: url("../image/white-star.png") no-repeat;
}

.title-rating {
	padding-left: 13px;
	font-size: 24px;
	font-weight: 500;
	color: #5cb000;
}

.quantity-rating-wrapper {
	color: #eb008b;
	font-size: 20px;
}

.quantity-rating {
	font-size: 24px;
	font-weight: 500;
}

.item-result-search-rating {
	text-align: right;
	margin-top: -5px;
	padding-left: 3px;
}

.item-result-search-rating p {
	display: inline-block;
	margin: 0;
}

.item-result-image {
	width: 225px;
	margin-right: -225px;
	float: left;
}

.wrapper-item-result-description {
	float: left;
	width: 100%;
}

.content-item-result-description {
	margin-left: 245px;
}

.theme-camp-wrapper p {
	display: inline-block;
	font-weight: 500;
	padding-right: 25px;
}

.theme-camp-icon {
	content: ' ';
	display: inline-block;
	height: 31px;
	width: 31px;
}

.camp-aerobics {
	background: url("../image/aerobics.png") no-repeat;
}

.camp-baseball {
	background: url("../image/baseball.png") no-repeat;
}

.camp-archery {
	background: url("../image/archery.png") no-repeat;
}

.camp-fencing {
	background: url("../image/fencing.png") no-repeat;
	width: 45px;
}

.theme-camp-title {
	display: inline-block;
	line-height: 34px;
	padding-left: 5px;
	vertical-align: top;
}

.item-result-camp-text {
	margin: -5px 0 10px;
}

.item-result-camp-date {
	display: inline-block;
	margin-right: 15px;
	font-weight: 500;
}

.item-result-camp-link {
	display: inline-block;
}

.item-result-camp-link a {
	font-weight: 500;
	color: #5cb000;
	text-decoration: none;
	border-bottom: 1px solid rgba(92, 176, 0, 0.4);
}

.item-result-camp-link a:hover {
	color: #57a600;
}

.read-more-wrapper {
	float: right;
	margin-top: -8px;
}

.item-result-camp-price {
	display: inline-block;
	height: 30px;
}

.item-result-camp-price p {
	display: inline-block;
}

.result-camp-old-price {
	padding-right: 10px;
	margin-bottom: 7px;
	font-size: 20px;
	font-weight: 300;
}

.result-camp-price {
	padding-right: 15px;
	font-size: 24px;
	font-weight: 500;
}

.strikethrough-block {
	display: block;
	border-bottom: 1px solid rgba(64, 64, 65, 0.8);
	line-height: 1px;
}

.button-read-more {
	display: inline-block;
	width: 142px;
	height: 30px;
	vertical-align: top;
	background: #5cb000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.button-read-more a {
	color: white;
	line-height: 30px;
	font-weight: 500;
	text-decoration: none;
	text-align: center;
}

.button-read-more:hover {
	background: #57a600;
}

.button-read-more:active {
	background: #64bf00;
}

.date-link-wrapper {
	float: left;
}

.pagination > li > a, .pagination > li > span {
	width: 40px;
	height: 40px;
	text-align: center;
	padding: 6px 0;
	color: #404041;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 18px;
	font-weight: 500;
	background-color: #fff;
	border: 1px solid #a3a3a3;
	margin: 0 5px;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
	color: #fff;
	background-color: #5cb000;
	border-color: #5cb000;
}

.wrapper-pagination {
	text-align: center;
	margin-bottom: 40px;
}

.pagination > li:first-child > a, .pagination > li:first-child > span,
.pagination > li:last-child > a, .pagination > li:last-child > span {
	border: none;
	font-weight: 500;
	font-size: 28px;
	padding: 0;
	line-height: 35px;
	color: #a3a3a3;
}

.pagination > li:first-child > a:hover, .pagination > li:first-child > span:hover,
.pagination > li:first-child > a:focus, .pagination > li:first-child > span:focus,
.pagination > li:last-child > a:hover, .pagination > li:last-child > span:hover,
.pagination > li:last-child > a:focus, .pagination > li:last-child > span:focus {
	background: none;
	border: none;
	color: #404041;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover,
.pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	background: #64bf00;
	border-color: #64bf00;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus,
.pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
	cursor: text;
}

/*card product page*/

.breadcrumb > li + li:before {
	content: ">";
	padding: 0 5px;
	color: #a3a3a3;
}

.breadcrumb li a {
	color: #a3a3a3;
	text-decoration: none;
}

.breadcrumb > .active {
	color: #5cb000;
}

.breadcrumb {
	padding: 8px 2px;
	margin: 10px 0 20px;
	background: none;
}

.item-result-search-title h1 {
	margin: 0;
	font-weight: 500;
	font-size: 24px;
	line-height: 1.2;
}

.item-result-search-title h1 a {
	font-size: 24px;
	text-decoration: none;
	color: #404041;
}

.item-card-product {
	margin: auto;
	padding-bottom: 55px;
}

.link-view-map, .link-view-documents {
	display: inline-block;
}

.link-view-map a {
	font-size: 20px;
	color: #5cb000;
	text-decoration: none;
}

.link-view-documents a {
	font-size: 16px;
	color: #5cb000;
	text-decoration: none;
}

.item-card-product .item-result-search-place {
	display: inline-block;
	padding-right: 10px;
}

.link-view-map a .border-link-view-map:before {
	background: url("../image/place-icon.png") no-repeat;
	content: ' ';
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

.link-view-documents a .border-link-view-documents:before {
	background: url("../image/document-icon.png") no-repeat;
	content: ' ';
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

.wrapper-place-link {
	width: 100%;
}

.border-link-view-map, .border-link-view-documents {
	border-bottom: 1px dotted #5cb000;
}

.card-product-camp-link {
	display: inline-block;
	float: right;
}

.card-product-camp-link a {
	font-size: 20px;
	color: #5cb000;
	text-decoration: none;
	border-bottom: 1px solid rgba(92, 176, 0, 0.4);
}

.card-product-camp-link a:hover {
	color: #57a600;
}

.wrapper-media-card-product {
	width: 100%;
	margin-top: 10px;
	/*border: 1px solid yellowgreen;*/
}

.picture-container {
	/*border: 1px solid red;*/
	float: right;
	width: 50%;
	height: 100%;
}

.video-container {
	float: left;
	width: 50%;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%;
	/*padding-top: 25px;*/
	height: 0;
}

.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.start-video {
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding: 12px;
	cursor: pointer;
	transition: all 0.3s;
}

.start-video:hover {
	opacity: 1;
	-webkit-filter: brightness (1);
}

div.thumbnail_container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	width: 100%;
	background-color: #000;
	overflow: hidden;
}

img.thumbnail {
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.thumbnail {
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	line-height: 1.42857143;
	background-color: #fff;
	border: none;
	-webkit-transition: border .2s ease-in-out;
	-o-transition: border .2s ease-in-out;
	transition: border .2s ease-in-out;
}

.start-video img {
	width: 100%;
	opacity: 1;
}

.start-video:hover img {
	opacity: 0.9;
}

.start-video {
	width: 23%;
}

.wrapper-pictute-card-product {
	width: 100%;
	text-align: right;
}

.pictute-item-card-product {
	width: 29%;
	margin-left: 5px;
	text-align: center;
	display: inline-block;
}

.top-line-wrapper-pictute {
	margin-bottom: 1%;
}

.pictute-item-card-product img {
	width: 95%;
}

.wrapper-text-card-product {
	width: 100%;
	margin: 20px auto 0;
}

.characteristics-camp-wrapper p {
	display: inline-block;
	font-size: 16px;
	padding-right: 15px;
}

.name-characteristics-camp {
	font-weight: 500;
}

.value-characteristics-camp {
	color: #5cb000;
}

.wrapper-text-card-product h2 {
	font-size: 24px;
	margin: 20px 0 15px;
}

.description-text {
	line-height: 1.5;
	margin-bottom: 15px;
}

.description-characteristics p {
	margin: 0 0 5px;
}

.description-characteristics ul {
	padding: 0 20px;
}

.description-characteristics ul li {
	margin: 5px 0;
}

.wrapper-form-question form {
	margin-top: 30px;
}

.wrapper-form-question input {
	width: 100%;
	height: 50px;
	outline: none;
	border: 1px solid #a3a3a3;
	padding-left: 16px;
	padding-right: 10px;
	color: #404041;
	font-size: 16px;
	-webkit-border-radius: 2px !important;
	-moz-border-radius: 2px !important;
	border-radius: 2px !important;
}

input.question-camp::-webkit-input-placeholder {
	color: #a3a3a3;
	text-align: left;
	font-size: 16px;
}

input.question-camp::-moz-placeholder {
	color: #a3a3a3;
	text-align: left;
	opacity: 1 !important;
	font-size: 16px;
}

input.question-camp:-moz-placeholder {
	color: #a3a3a3;;
	text-align: left;
	opacity: 1 !important;
	font-size: 16px;
}

input.question-camp:-ms-input-placeholder {
	color: #a3a3a3;
	text-align: left;
	opacity: 1 !important;
	font-size: 16px;
}

.button-question {
	width: 145px;
	height: 34px;
	margin-top: 20px;
	outline: none;
	background: #5cb000;
	color: #ffffff;
	font-size: 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	vertical-align: top;
	line-height: 0;
}

.button-question:hover {
	background: #5ca600;
	color: #ffffff;
}

.button-question:active {
	background: #64bf00;
}

.btn.button-question:hover, .btn.button-question:focus, .btn.button-question.focus {
	color: #ffffff;
}

/*partnership*/

.wrapper-partnership-header {
	position: relative;
	background: url("../image/partnership-bg.png") no-repeat 50% top;
	height: 460px;
}

.text-box-header {
	position: relative;
	top: 39%;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	color: #ffffff;
	text-align: center;
}

.text-box-header h1 {
	font-size: 64px;
	font-weight: 500;
}

.button-header {
	width: 100%;
	max-width: 310px;
	height: 45px;
	margin: 80px auto 0;
	background: #5cb000;
	box-sizing: border-box;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.button-header a {
	color: white;
	line-height: 45px;
	font-size: 20px;
	font-weight: 500;
}

.button-header:hover {
	background: #5ca600;
}

.button-header:active {
	background: #64bf00;
}

.about-box-wrapper, .team-wrapper {
	padding: 55px 0 80px;
	text-align: center;
}

.about-box-wrapper h2, .team-wrapper h2{
	font-size: 48px;
	font-weight: 300;
}

.about-box-text {
	padding-top: 15px;
	font-size: 20px;
}

.about-wrapper-icon {
	margin-top: 35px;
}

.about-box-icon {
	float: left;
	width: 16.66%;
	padding-bottom: 30px;
}

.about-item-icon {
	margin: auto;
	width: 43px;
	height: 45px;
}

.about-item-independence {
	background: url("../image/independece-grey-icon.png") no-repeat center;
}

.about-item-economy {
	background: url("../image/economy-grey-icon.png") no-repeat center;
}

.about-item-support {
	background: url("../image/support-grey-icon.png") no-repeat center;
}

.about-item-diversity {
	background: url("../image/diversity-grey-icon.png") no-repeat center;
}

.about-item-mobility {
	background: url("../image/mobility-grey-icon.png") no-repeat center;
}

.about-item-information {
	background: url("../image/information-grey-icon.png") no-repeat center;
}

.about-item-icon-text {
	font-size: 16px;
	font-weight: 500;
}

.about-box-wrapper .button-watch {
	margin: 5px auto 0;
}

.statistics-box-wrapper {
	position: relative;
	background: url("../image/partnership-bg.png") no-repeat 50% top;
	padding: 55px 0 85px;
	text-align: center;
}

.statistics-box-wrapper h2 {
	color: #ffffff;
	font-size: 48px;
	font-weight: 300;
}

.wrapper-camps-statistics {
	margin-top: 55px;
}

.wrapper-number-camps-statistics {
	width: 60%;
	float: left;
}

.item-camps-statistics {
	width: 100%;
	max-width: 400px;
	margin: 0 auto 3px;
}

.number-camps-statistics {
	float: right;
	height: 36px;
	margin: 0;
	line-height: 36px;
	background: #ffffff;
	font-size: 28px;
	font-weight: 500;
	color: #01021e;
}

.china-camps-statistics {
	width: 100%;
}

.france-camps-statistics {
	width: 77%;
}

.indonesia-camps-statistics {
	width: 69%;
}

.slovakia-camps-statistics {
	width: 54%;
}

.bulgaria-camps-statistics {
	width: 33%;
}

.name-country-camps-statistics {
	float: left;
	padding-left: 20px;
	margin: 0;
	line-height: 36px;
	font-size: 28px;
	font-weight: 500;
	color: white;
	text-align: left;
}

.camp-types-wrapper {
	background: #f1f1f2;
	padding: 80px 0;
}

.camp-types-image {
	width: 45%;
	float: left;
}

.camp-types-image img {
	width: 100%;
	float: right;
	padding-right: 20px;
	max-width: 330px;
}

.camp-types-text {
	width: 55%;
	max-width: 485px;
	padding-right: 20px;
	margin-top: 83px;
	float: left;
	font-size: 48px;
}

.camp-types-text p {
	padding-left: 20px;
}

.wrapper-button-join-camp .button-watch {
	margin: 90px auto;
}

/*news*/

.wrapper-news-header {
	position: relative;
	background: url("../image/news-bg.png") no-repeat center;
	height: 460px;
}

.wrapper-item-news {
	float: left;
	width: 33.33%;
}

.box-news {
	position: relative;
	width: 96%;
	margin-bottom: 20px;
}

.wrapper-item-news:nth-child(3n+2) .box-news {
	margin: 0 auto 20px;
}

.wrapper-item-news:nth-child(3n) .box-news {
	float: right;
}

.image-news img {
	width: 100%;
}

.image-news {
	position: relative;
	margin: 0 0 10px;
	background: #000000;
}

.wrapper-item-news .date-news {
	margin: 0 0 2px;
	font-size: 14px;
	text-transform: uppercase;
	color: #404041;
}

.wrapper-item-news .name-news {
	margin: 0 0 5px;
	font-size: 20px;
	font-weight: 500;
	color: #404041;
	line-height: 1.3;
}

.wrapper-item-news .description-news {
	font-size: 14px;
	color: #a3a3a3;
}

.wrapper-item-news:hover img {
	opacity: 0.3;
}

.wrapper-item-news:hover .name-news {
	color: #eb008b;
}

.wrapper-item-news:hover .wrapper-view-comment, .wrapper-item-news:hover .wrapper-view-comment-video {
	display: block;
}

.wrapper-view-comment, .wrapper-view-comment-video {
	display: none;
	position: absolute;
	z-index: 100;
	bottom: 5px;
	left: 9px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
}

.views-number:before {
	content: ' ';
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px;
	width: 15px;
	height: 15px;
	background: url("../image/view-icon.png") no-repeat;
}

.comment-number:before {
	content: ' ';
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px;
	margin-left: 5px;
	width: 15px;
	height: 15px;
	background: url("../image/comment-icon.png") no-repeat;
}

.wrapper-item-news .start-video img {
	opacity: 1 !important;
}

.wrapper-button-more-news .button-watch {
	margin: 40px auto 80px;
}

/*item news*/

.wrapper-item-news-header {
	position: relative;
	background: url("../image/news-bg.png") no-repeat center 31.5%;
	height: 100px;
}

.wrapper-page-item-news h1 {
	margin: 0 0 20px;
	width: 66%;
	font-weight: 500;
	font-size: 30px;
	line-height: 1.2;
}

.content-news {
	float: left;
	width: 66%;
}

.wrapper-social-network {
	float: left;
	width: 34%;
	text-align: center;
}

.main-image-news {
	width: 100%;
	margin-bottom: 25px;
}

.item-social-network {
	width: 50px;
	height: 50px;
}

.facebook-icon {
	background: url("../image/facebook-icon.png") no-repeat;
}

.facebook-shares {
	color: #3b5998;
}

.in-icon {
	background: url("../image/in-icon.png") no-repeat;
}

.in-shares {
	color: #007bb6;
}

.twitter-icon {
	background: url("../image/twitter-icon.png") no-repeat;
}

.twitter-shares {
	color: #00aced;
}

.item-box-social-network, .box-shares-number {
	float: left;
}

.item-box-social-network p {
	margin: 5px 0 0;
}

.box-shares-number {
	width: 55px;
	font-size: 14px;
}

.box-shares-number p {
	margin: 0;
}

.shares-number {
	padding-top: 4px;
	font-size: 16px;
}

.box-social-network {
	float: right;
	width: 205px;
}

.content-news h2 {
	margin: 25px 0 15px;
	font-size: 24px;
	color: #5cb000;
}

.content-news a{
	color: #5cb000;
	border-bottom: 1px solid rgba(92, 176, 0, 0.4);
}

.content-news .video-container{
	width: 100%;
	max-width: 380px;
	margin-top: 10px;
}

.wrapper-quote{
	color: #5cb000;
	margin: 25px 0 30px 14%;
}

.author-quote{
	font-weight: 500;
	margin: 0 0 5px;
}

.wrapper-author-quote{
	border-left: 2px solid #5cb000;;
	padding-left: 10px;
}

.wrapper-other-news{
	background: #f1f1f2;
	padding: 0 0 25px 0;
}

.title-other-news{
	margin: 0;
	padding: 30px 0;
	text-align: center;
	font-size: 24px;
	font-weight: 500;
}

.wrapper-name-other-news{
	position: absolute;
	top: 50%;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	padding: 0 10px;
	text-align: center;
	width: 100%;
}

.wrapper-name-other-news{
	display: none;
	color: #ffffff;
	font-size: 20px;
	font-weight: 500;
}

.item-news-page .wrapper-item-news:hover .wrapper-name-other-news{
	display: block;
}


/*about page*/

.wrapper-about-header {
	position: relative;
	background: #9e6f9c;
	/*height: 770px;*/
}

.wrapper-about-header h1{
	margin: 60px auto 55px;
	font-size: 54px;
	font-weight: 300;
	color: white;
	text-align: center;
}

.box-image-about, .box-text-header-about{
	width: 50%;
	float: left;
}

.box-image-about img{
	width: 100%;
	margin: auto;
	/*border: 1px solid red;*/
}

.box-left-image-about img, .box-left-text-about p{
	max-width: 392px;
}

.box-right-image-about img, .box-right-text-about p{
	max-width: 437px;
}

.button-header-about{
	width: 100%;
	max-width: 310px;
	height: 45px;
	margin: 0 auto;
	background: #4d414a;
	box-sizing: border-box;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.button-header-about:hover{
	background: #483845;
}

.box-text-header-about{
	text-align: center;
}

.box-text-header-about p{
	margin: 35px auto 30px;
	font-size: 26px;
	font-weight: 500;
}

.button-header-about a{
	color: white;
	line-height: 45px;
	font-size: 20px;
}

.wrapper-text-about-header{
	padding-bottom: 80px;
}

.team-wrapper{
	background: #f1f1f2;
}

.wrapper-team-item{
	width: 33.33%;
	float: left;
	text-align: center;
}

.team-box{
	padding-top: 60px;
}

.team-item{
	width: 100%;
	max-width: 210px;
	margin: auto;
	padding-bottom: 30px;
}

.team-item img{
	width: 90%;
	max-width: 150px;
}

.name-team{
	line-height: 1.2;
	margin: 10px 0 5px;
	font-size: 24px;
	font-weight: 500;
}

.description-team{
	font-size: 14px;
}

.team-wrapper .button-watch{
	 background: #f1f1f2;
}

.team-wrapper .button-watch:hover{
	background: #ffffff;
}

.team-wrapper .button-watch:hover a{
	color: #404041;
}

/*form*/

.popup{
	display: none;
	width: 100%;
	max-width: 480px;
	background: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0);
}

.subscribe-form{
	width: 100%;
	margin: 80px auto;
	padding: 0 10px;
	text-align: center;
}

.subscribe-form input{
	width: 100%;
	max-width: 310px;
	margin: auto;
	padding: 10px 15px;
	outline: none;
	font-size: 20px;
	font-weight: 500;
}

.subscribe-form .button-header{
	margin: 25px auto 0;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;;
	box-shadow: none !important;;
}

.fancybox-skin{
	background: none !important;
}


.fancybox-lock .fancybox-overlay{
	background: rgba(2, 8, 26, 0.9);
}

.fancybox-close {
	background: url(../image/close-icon.png) no-repeat !important;
	right: -25px;
}


